<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/luniferadoc"
            class="org.lunifera.doc.dsl.luniferadoc.LuniferaDocPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/luniferadoc/document"
            class="org.lunifera.doc.dsl.luniferadoc.document.DocumentPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/luniferadoc/layout"
            class="org.lunifera.doc.dsl.luniferadoc.layout.LayoutPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/luniferadoc/richstring"
            class="org.lunifera.doc.dsl.luniferadoc.richstring.RichstringPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/luniferadoc/markup"
            class="org.lunifera.doc.dsl.luniferadoc.markup.MarkupPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DocCompiler -->
      <package
            uri="http://www.lunifera.org/doccompiler"
            class="org.lunifera.doc.dsl.doccompiler.DocCompilerPackage"
            genModel="model/DocCompiler.genmodel"/>
   </extension>

</plugin>
