<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/documentation/v1"
            class="org.lunifera.doc.dsl.luniferadoc.LDocPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/documentation/richstring/v1"
            class="org.lunifera.doc.dsl.luniferadoc.richstring.LDocRichstringPackage"
            genModel="model/LuniferaDocGrammar.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DocCompiler -->
      <package
            uri="http://www.lunifera.org/luniferadoc/compiler/v1"
            class="org.lunifera.doc.dsl.luniferadoc.compiler.LDocCompilerPackage"
            genModel="model/DocCompiler.genmodel"/>
   </extension>

</plugin>
