<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/documentation/v1"
            class="org.lunifera.doc.dsl.luniferadoc.LDocPackage"
            genModel="model/LuniferaDocGrammar.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuniferaDocGrammar -->
      <package
            uri="http://www.lunifera.org/documentation/richstring/v1"
            class="org.lunifera.doc.dsl.luniferadoc.richstring.LDocRichstringPackage"
            genModel="model/LuniferaDocGrammar.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated doccompiler -->
      <package
            uri="http://www.lunifera.org/documentation/compiler/v1"
            class="org.lunifera.doc.dsl.luniferadoc.doccompiler.LDocCompilerPackage"
            genModel="model/doccompiler.xcore"/>
   </extension>

</plugin>
